# {{ ansible_managed }}
[DEFAULT]
bantime  = {{ common_fail2ban_bantime }}
findtime = {{ common_fail2ban_findtime }}
maxretry = {{ common_fail2ban_maxretry }}
# Ubuntu 24.04 logs auth events to journald, not /var/log/auth.log
backend  = systemd

[sshd]
enabled = true
